<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('css/style-produit.css') }}">
    <link rel="stylesheet" href="{{ asset('css/footer.css') }}">
    <link rel="stylesheet" href="{{ asset('css/menu.css') }}">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <title>Page d'Accueil</title>
</head>
<body>

{% include 'menu.html.twig' %}
    <main class="container-block">
        <div class="block-text">
            <h2>Nos Produits</h2>
            <p>Sur cette page, vous trouverez une sélection variée de produits métalliques de haute qualité pour
                répondre à vos besoins en matière de construction et de rénovation. Chaque produit est accompagné d'une
                description détaillée pour vous aider à choisir celui qui convient le mieux à votre projet. Vous avez la
                possibilité d'ajouter les produits sélectionnés à votre panier en un seul clic, facilitant ainsi le
                processus d'achat. De plus, notre fonction de configuration vous permet de personnaliser certains
                produits selon vos spécifications avant de passer votre commande. Explorez notre gamme de produits et
                profitez d'une expérience de magasinage pratique et personnalisée.</p>
        </div>
        <section id="commande2" class="products-container">
            <!-- Les produits dynamiques seront insérés ici -->
        </section>
    </main>
    
</body>
{% include 'footer.html.twig' %}
<script src="{{ asset('js/menu.js') }}"></script>
<script src="{{ asset('js/index.js') }}"></script>
<script src="{{ asset('js/produits.js') }}"></script>

</html>
