<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('css/style-produit.css') }}">
    <link rel="stylesheet" href="{{ asset('css/footer.css') }}">
    <link rel="stylesheet" href="{{ asset('css/menu.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <title>Page d'Accueil</title>
    <style>
        .discount-section {
            background-color: #f8d7da; /* Rouge clair */
            color: #721c24; /* Rouge foncé pour le texte */
            padding: 20px;
            border: 1px solid #f5c6cb;
            margin-top: 20px;
        }
        .discount-section h3 {
            margin-top: 0;
        }
    </style>
</head>
<body>

{% include 'menu.html.twig' %}

<main class="container-block">
    <div class="block-text">
        <h2>Nos Produits</h2>
        
    </div>
    
    {% if is_granted('ROLE_PROFESSIONNEL') %}
        <section class="discount-section">
            <h3>Remise Spéciale</h3>
            <p>En tant que professionnel, vous bénéficiez d'une remise de 10% sur tous les produits. Profitez-en dès maintenant !</p>
        </section>
    {% endif %}

    <section id="commande2" class="products-container">
        <!-- Les produits dynamiques seront insérés ici -->
    </section>
</main>

{% include 'footer.html.twig' %}
<script src="{{ asset('js/menu.js') }}"></script>
<script src="{{ asset('js/index.js') }}"></script>
<script src="{{ asset('js/produits.js') }}"></script>

</body>
</html>
