<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('css/style-produit-details.css') }}">
    <link rel="stylesheet" href="{{ asset('css/footer.css') }}">
    <link rel="stylesheet" href="{{ asset('css/menu.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap">
    <title>Détails du Produit</title>
</head>
<body>

{% include 'menu.html.twig' %}
    <div class="card">
        <div class="product-details" id="product-details">
            <!-- Insérer ici la structure générée par JavaScript -->
        </div>
        <div class="user-inputs">
            <input type="number" id="quantity-input" placeholder="Quantité">
            <input type="number" id="length-input" placeholder="Longueur (cm)">
            <button id="add-to-cart-btn">Ajouter au panier</button>
            <div id="price-container" class="price-container"></div>
        </div>
    </div>
<script src="{{ asset('js/menu.js') }}"></script>
<script src="{{ asset('js/produit-details.js') }}"></script>

</body>
</html>
